<section class="home-box">
  <div class="home-box__wrapper">
    <div class="home-box__element">
      <button class="home-box__button home-box__button--log">
        <a [routerLink]="['/login']">Zaloguj sie</a>
      </button>
      <button class="home-box__button home-box__button--reg">
        <a [routerLink]="['/register']" >Zaloz konto</a>
      </button>
      <button class="home-box__button home-box__button--open-project">
          <a [routerLink]="['/page-creator']" >Przejdz do projektu</a>
        </button>
    </div>
  </div>
</section>
